Questions to ask [to be moved below]

1. What percentage of customers return within 180 days?
2. What is the average number of days between daily sales record?

In [1]:
import pandas as pd
import numpy as np

orders = pd.read_csv('resources/orders.csv')

In [2]:
# Check the basics data structure
orders.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 9994 entries, 0 to 9993
Data columns (total 21 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   row_id         9994 non-null   int64
 1   order_id       9994 non-null   object
 2   order_date     9994 non-null   object
 3   ship_date      9994 non-null   object
 4   ship_mode      9994 non-null   object
 5   customer_id    9994 non-null   object
 6   customer_name  9994 non-null   object
 7   segment        9994 non-null   object
 8   country        9994 non-null   object
 9   city           9994 non-null   object
 10  state          9994 non-null   object
 11  postal_code    9994 non-null   int64
 12  region         9994 non-null   object
 13  product_id     9994 non-null   object
 14  category       9994 non-null   object
 15  sub_category   9994 non-null   object
 16  product_name   9994 non-null   object
 17  sales          9994 non-null   float64
 18  quantity       9994 non-null   int64
 19  discount       9994 non-null   float64
 20  profit         9994 non-null   float64
dtypes: float64(3), int64(3), object(15)
memory usage: 1.6+ MB

In [3]:
# Is order ID unique?
orders['order_id'].value_counts().max() == 1

False

In [4]:
# What is the timeframe (order date, shipping date)?
orders[['order_date','ship_date']].agg([np.max,np.min])

      order_date   ship_date
amax  2016-12-30  2017-01-05
amin  2013-01-03  2013-01-07

In [5]:
# What in categories and sub-categories do we have?
orders[['country','state']].value_counts(normalize=True)

country        state
United States  California              0.200220
               New York                0.112868
               Texas                   0.098559
               Pennsylvania            0.058735
               Washington              0.050630
               Illinois                0.049230
               Ohio                    0.046928
               Florida                 0.038323
               Michigan                0.025515
               North Carolina          0.024915
               Virginia                0.022413
               Arizona                 0.022413
               Georgia                 0.018411
               Tennessee               0.018311
               Colorado                0.018211
               Indiana                 0.014909
               Kentucky                0.013908
               Massachusetts           0.013508
               New Jersey              0.013008
               Oregon                  0.012407
               Wisconsin               0.011007
               Maryland                0.010506
               Delaware                0.009606
               Minnesota               0.008905
               Connecticut             0.008205
               Missouri                0.006604
               Oklahoma                0.006604
               Alabama                 0.006104
               Arkansas                0.006004
               Rhode Island            0.005603
               Mississippi             0.005303
               Utah                    0.005303
               Louisiana               0.004203
               South Carolina          0.004203
               Nevada                  0.003902
               Nebraska                0.003802
               New Mexico              0.003702
               Iowa                    0.003002
               New Hampshire           0.002702
               Kansas                  0.002401
               Idaho                   0.002101
               Montana                 0.001501
               South Dakota            0.001201
               Vermont                 0.001101
               District of Columbia    0.001001
               Maine                   0.000800
               North Dakota            0.000700
               West Virginia           0.000400
               Wyoming                 0.000100
dtype: float64

In [6]:
# How does the geography look like?
orders[['category','sub_category']].value_counts(normalize=True)

category         sub_category
Office Supplies  Binders         0.152391
                 Paper           0.137082
Furniture        Furnishings     0.095757
Technology       Phones          0.088953
Office Supplies  Storage         0.084651
                 Art             0.079648
Technology       Accessories     0.077547
Furniture        Chairs          0.061737
Office Supplies  Appliances      0.046628
                 Labels          0.036422
Furniture        Tables          0.031919
Office Supplies  Envelopes       0.025415
Furniture        Bookcases       0.022814
Office Supplies  Fasteners       0.021713
                 Supplies        0.019011
Technology       Machines        0.011507
                 Copiers         0.006804
dtype: float64

In [7]:
# How do the sales look like overall (summarize in thousands)?
sales = orders.pivot_table(
    values='sales', 
    columns='category', 
    index='state',
    aggfunc=np.sum,
    margins=True)

sales['Furniture_K']=(sales['Furniture']/1000).round(2)
sales['Office_Supplies_K']=(sales['Office Supplies']/1000).round(2)
sales['Technology_K']=(sales['Technology']/1000).round(2)
sales['Total_K']=(sales['All']/1000).round(2)

sales = sales[['Furniture_K','Office_Supplies_K','Technology_K','Total_K']]

sales.sort_values('Total_K', ascending=False)

category              Furniture_K  Office_Supplies_K  Technology_K  Total_K
state
All                        742.00             719.05        836.15  2297.20
California                 156.06             142.35        159.27   457.69
New York                    93.37              90.02        127.48   310.88
Texas                       60.59              44.49         65.10   170.19
Washington                  48.02              40.08         50.54   138.64
Pennsylvania                39.35              34.94         42.22   116.51
Florida                     22.99              19.52         46.97    89.47
Illinois                    28.27              19.91         31.98    80.17
Ohio                        24.20              18.38         35.68    78.26
Michigan                    22.32              37.72         16.22    76.27
Virginia                    25.32              21.17         24.15    70.64
North Carolina              15.16              14.36         26.08    55.60
Indiana                     11.50              15.74         26.32    53.56
Georgia                      8.32              26.72         14.06    49.10
Kentucky                    12.13              11.89         12.57    36.59
New Jersey                   6.31              14.96         14.50    35.76
Arizona                     13.53              10.01         11.75    35.28
Wisconsin                   17.26               6.06          8.80    32.11
Colorado                    13.24               7.90         10.97    32.11
Tennessee                   13.51              12.35          4.81    30.66
Minnesota                    7.61              19.41          2.85    29.86
Massachusetts               10.92              11.99          5.73    28.63
Delaware                     4.76               8.13         14.56    27.45
Maryland                     9.15              10.39          4.17    23.71
Rhode Island                 5.92               6.23         10.47    22.63
Missouri                     2.94              12.18          7.09    22.21
Oklahoma                     8.28               5.03          6.37    19.68
Alabama                      6.33               4.21          8.97    19.51
Oregon                       6.34               5.27          5.82    17.43
Nevada                       4.64               6.96          5.14    16.73
Connecticut                  5.17               5.42          2.79    13.38
Arkansas                     3.19               4.57          3.93    11.68
Utah                         4.82               4.09          2.31    11.22
Mississippi                  4.32               3.63          2.82    10.77
Louisiana                    2.96               3.42          2.83     9.22
Vermont                      5.12               2.21          1.60     8.93
South Carolina               3.08               3.81          1.59     8.48
Nebraska                     1.94               2.23          3.29     7.46
New Hampshire                1.89               1.77          3.64     7.29
Montana                      0.06               1.86          3.66     5.59
New Mexico                   1.70               1.38          1.70     4.78
Iowa                         2.64               0.78          1.15     4.58
Idaho                        2.60               0.95          0.84     4.38
Kansas                       0.11               1.95          0.85     2.91
District of Columbia         1.35               0.14          1.38     2.87
Wyoming                      1.60                NaN           NaN     1.60
South Dakota                 0.32               0.60          0.39     1.32
Maine                        0.11               0.40          0.76     1.27
West Virginia                0.67               0.54           NaN     1.21
North Dakota                  NaN               0.92           NaN     0.92