Questions to ask [to be moved below]

1. What percentage of customers return within 180 days?
2. What is the average number of days between daily sales record?

In [1]:
import pandas as pd
import numpy as np

orders = pd.read_csv('resources/orders.csv')

In [2]:
# Check the basics data structure
orders.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 9994 entries, 0 to 9993
Data columns (total 21 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   row_id         9994 non-null   int64
 1   order_id       9994 non-null   object
 2   order_date     9994 non-null   object
 3   ship_date      9994 non-null   object
 4   ship_mode      9994 non-null   object
 5   customer_id    9994 non-null   object
 6   customer_name  9994 non-null   object
 7   segment        9994 non-null   object
 8   country        9994 non-null   object
 9   city           9994 non-null   object
 10  state          9994 non-null   object
 11  postal_code    9994 non-null   int64
 12  region         9994 non-null   object
 13  product_id     9994 non-null   object
 14  category       9994 non-null   object
 15  sub_category   9994 non-null   object
 16  product_name   9994 non-null   object
 17  sales          9994 non-null   float64
 18  quantity       9994 non-null   int64
 19  discount       9994 non-null   float64
 20  profit         9994 non-null   float64
dtypes: float64(3), int64(3), object(15)
memory usage: 1.6+ MB

In [3]:
# Is order ID unique?
orders['order_id'].value_counts().max() == 1

False

In [4]:
# What is the timeframe (order date, shipping date)?
orders[['order_date','ship_date']].agg([np.max,np.min])

      order_date   ship_date
amax  2016-12-30  2017-01-05
amin  2013-01-03  2013-01-07

In [5]:
# What in categories and sub-categories do we have?
orders[['category','sub_category']].value_counts(normalize=True)

category         sub_category
Office Supplies  Binders         0.152391
                 Paper           0.137082
Furniture        Furnishings     0.095757
Technology       Phones          0.088953
Office Supplies  Storage         0.084651
                 Art             0.079648
Technology       Accessories     0.077547
Furniture        Chairs          0.061737
Office Supplies  Appliances      0.046628
                 Labels          0.036422
Furniture        Tables          0.031919
Office Supplies  Envelopes       0.025415
Furniture        Bookcases       0.022814
Office Supplies  Fasteners       0.021713
                 Supplies        0.019011
Technology       Machines        0.011507
                 Copiers         0.006804
dtype: float64

In [6]:
# How do the sales look like overall?
orders.groupby(['category','sub_category'])['sales'].sum()

category         sub_category
Furniture        Bookcases       114879.9963
                 Chairs          328449.1030
                 Furnishings      91705.1640
                 Tables          206965.5320
Office Supplies  Appliances      107532.1610
                 Art              27118.7920
                 Binders         203412.7330
                 Envelopes        16476.4020
                 Fasteners         3024.2800
                 Labels           12486.3120
                 Paper            78479.2060
                 Storage         223843.6080
                 Supplies         46673.5380
Technology       Accessories     167380.3180
                 Copiers         149528.0300
                 Machines        189238.6310
                 Phones          330007.0540
Name: sales, dtype: float64